html{
	scroll-behavior: smooth;
}

body{
	color: #C0C0C0;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

nav{
	background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
}

section{
	height: 100%;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(10px);
	}

	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-10px);
	}

	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveUp {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	80% {
		transform: translateY(-10px);
	}

	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

.scroll-box {
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.container{
	height: 100%;
}
.navhead{
	height: 80px;
}

.logo{
	margin-top:5px;
}

#logo{
	font-size: 35px;
	color: #C0C0C0;
	/*border-bottom: solid 2px #C0C0C0;*/
	margin: 0px 0px;
	line-height: 28px;
	height: 80px;
	padding-top: 25px;
	text-align: center;
}

.navauto{
	margin: 0px auto;
}

.link{
	font-size: 18px;
	color: #C0C0C0;
	text-decoration: underline;
	padding-top: 30px;
}

.margin{
	margin: 0px auto;
}

.icon{
	height: 60px;
	border: 2px solid #C0C0C0;
	border-radius: 50%;
	margin: 10px 5px;
}

.main{
	background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
	height: 100vh;	
}

.name{
	font-size: 40px;
	margin-top: 20px;
	font-family: 'Georgia', Times, "Times_New_Roman", serif;
	padding-right:30px;

	animation-name: moveInRight;
	animation-duration: 2s;
	animation-timing-function: ease-out;

}

.learn{
	font-size: 45px;
	border:none;

	animation-name: moveUp;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}

.next {
  position:absolute;
  bottom:0;
  left:50%;
  margin-left:-36px;
  cursor:pointer;
  font-size:400%;
}

.about{
	font-size: 30px;
	border-bottom: 1px solid #C0C0C0;
}

.about-icon{
	height: 100px;
	display: block;
	margin: 20px auto;
}

.title{
	color:#C0C0C0;
	font-size: 25px;
	border-bottom: 1px solid #C0C0C0;
	margin: 50px 0px;
}

.selfie{
	max-width: 100%;
	height: 175px;
	border-radius: 10%;
	filter: grayscale(100%);
	margin: 20px;

	animation-name: moveInLeft;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}

.port-img{
	height: 300px;
	padding: 30px;
}

.contact{
	height: 150px;
	width: 150px;
}

li{
	color: #C0C0C0;
}

header{
	height: 80px;
	background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
}

h1{
	font-size: 28px;
	color: #C0C0C0;
	font-family: 'Georgia', Times, "Times_New_Roman", serif;
}

h2{
	font-size: 22px;
	border-bottom:solid #cccccc 1px;
	font-family: 'Georgia', Times, "Times_New_Roman", serif;
	margin-top: 0;
}

p{
	font-size: 20px;
	line-height: 1.5em;
}

footer{
	background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
	clear: both;
	margin-top: 50px;
}

input{
	width: 100%;
	height: 35px;
	color:grey;
	background-color: rgba(230,249,241,.5);
	border-radius: 5px;
	border:solid #cccccc 1px;
}

textarea{
	width: 100%;
	background-color: rgba(230,249,241,.5);
	border-radius: 5px;
	border:solid #cccccc 1px;
}

form{
	padding: 0px 30px 30px 30px;
	line-height: 2.2em;
}

.bio{
	padding: 10px 20px 20px 20px ;
	margin-bottom: 50px;
	clear: right;

	animation-name: moveUp;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}

.submit{
	width: 100px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	font-size: 1.2em;
	transition: background-color .5s;
}

.submit:hover{
	background-color: green;
}

.foot{
	display: inline-block;
	padding-top: 10px;
	color: grey;
}

.label{
	position: relative;
	top: 240px;
	z-index: 200;
	background-color: #4aaaa5;
	height: 60px;
	color: #ffffff;
	text-align: center;
	padding-top: 0.5px;
}

.stick{
	position: sticky;
}

.logos{
	margin-left: 25px;
}

.inline{
	display: inline;
}


@media (max-width: 991px){
	.title{
		transform: scale(0);
	}

	.selfie{
		height: 125px;
		margin: 15px;
	}

	.about-icon{
		height: 75px;
	}

	.icon{
		height: 40px;
	}
}

@media (min-width: 768px){
	#logo {
	  margin: 0px auto;
	}
}




